<app-header></app-header>
<div *ngIf="load" class="d-flex justify-content-center" style="margin-top: 200px">
  <div class="spinner-border" role="status" >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<span *ngIf="load" class="d-flex justify-content-center">Loading...</span>

<div *ngIf="!load" class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-5">
      <h2 style="margin-bottom: 30px">User List</h2>
        <div class="card" *ngFor="let user of userList" style="margin-bottom: 30px">
            <div class="card-header">
              {{user.userName}}<mat-icon class="float-right">person</mat-icon>
            </div>
            <div class="card-body">
              <p class="card-text"> Plan this users meeting<a routerLink="/user/{{user.userId}}/{{user.userName}}" class="btn btn-primary float-right">Plan</a></p>
              
            </div>
          </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  
</div>