<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h2 >Meeting planned by {{adminName}} on {{date}}</h2>
      <span>Title: </span>
      <label for="inputTitle" class="sr-only">Title</label>
      <input [disabled]="disabled" type="text" (input)="onSearchChange($event.target.value)" id="inputEmail" class="form-control"
        [(ngModel)]="title" placeholder="Title"
        required>
      <br>
      <span>Description: </span>
      <label for="inputTitle" class="sr-only">Title</label>
      <textarea [disabled]="disabled" type="text" (input)="onSearchChange($event.target.value)" id="inputEmail" class="form-control"
        [(ngModel)]="description" placeholder="description"
         required></textarea>
      <br>
      <span>Time Start: </span>
      <label for="inputTitle" class="sr-only">Title</label>
      <input [disabled]="disabled" type="time" [value]="timestart" (input)="onSearchChange($event.target.value)" id="inputEmail" class="form-control"
        [(ngModel)]="timestart" 
         required>
      <br>
      <span>Time Finish: </span>
      <label for="inputTitle" class="sr-only">Title</label>
      <input [disabled]="disabled" type="time" (input)="onSearchChange($event.target.value)" id="inputEmail" class="form-control"
        [(ngModel)]="timeend" 
         required>
      <br>
      <button *ngIf="admin == 'true'" class="btn btn-success" (click)=makeThePlan()>Make the plan</button>
      <button class="btn btn-danger float-right" (click)=goback()>Back</button>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>